@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --primary-color: #c2410c;
    --secondary-color: #f97316;
    --desc-color: #fed7aa;
    --off-white: #fff7ed;
    --dark-gray: #57534e;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px auto;
    max-width: 50%;
    width: 100%;
    /* min-width: 400px; */
}

/** navbar **/
.heading {
    text-align: left;
    background-color: var(--primary-color);
    color: var(--off-white);
    padding: 1rem;
    margin: 1rem -1rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 var(--dark-gray), 0 6px 20px 0 var(--dark-gray);
}

.navbar{
  box-shadow: 0 4px 8px 0 var(--dark-gray), 0 6px 20px 0 var(--dark-gray);
}
a{
  text-decoration: none;
  color: var(--off-white);
}

.sub-headings{
  text-align: right;
  display: block;
  background-color: var(--secondary-color);
  color: var(--off-white);
  margin: -0.2rem -1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  
}
.sub-heading{
  display: inline;
  margin: 0% 1%;
  padding: 2.3% 3.2%;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 var(--dark-gray);
}
.active{
  background-color: var(--off-white);
  color: var(--secondary-color);
  box-shadow: none;
}
.description{
  background-color: var(--off-white);
  display: block;
  margin: 0rem -1rem;
  padding: 1rem;
  padding-top: 1.5rem;
}

/** footers **/

.footer {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--off-white);
    padding: 1rem;
    margin: 1rem -1rem;
    width: 100%;
    border-radius: 0.5rem;
  }
  
  .footer .link {
    color: var(--off-white);
    text-decoration: none;
    cursor:pointer;
  }
  
  .footer .footer-header {
    font-weight: bold;
    font-size: large;
  }
  
  .footer .list-item-inline {
    display: inline;
    padding: 1rem;
  }
  
  ul{
    padding-inline-start: 0px;
  }
  
  /* container */

  .container{
    background-color: var(--off-white);
    display: block;
    margin: -1rem -1rem;
    padding: 1rem;
    text-align: center;
  }

  .angle-container, .side-container{
    display: inline-block;
    max-width: 30%;
    padding: 2px 0;
  }

  .label-input, .angles, .sides{
    width: 50%;
    min-width: 70%;
    margin: 10px 3px;
  }

  #btn-isitatriangle, #btn-calculateArea, #btn-submitquiz{
    background-color: var(--secondary-color);
    color: var(--off-white);
    padding: 0.5rem 1rem;
    border: none;
    margin: 2% 5%;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 var(--dark-gray);
  }

  .ques-para{
    width: 50%;
  }

  .col{
    display: inline-flex;
    margin: 0.5rem;
    padding: 0.5rem;
  }